@model MvcStok.Models.Entity.TBL_MUSTERI
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.MUSTERIID)
        @Html.TextBoxFor(m => m.MUSTERIID, new { @class = "form-control" })

        @Html.LabelFor(m => m.MUSTERİAD)
        @Html.TextBoxFor(m => m.MUSTERİAD, new { @class = "form-control" })

        @Html.LabelFor(m => m.MUSTERİSOYAD)
        @Html.TextBoxFor(m => m.MUSTERİSOYAD, new { @class = "form-control" })
        <br />
    <div>
            <button class="btn btn-danger">KAYDET</button>
        </div>
    </div>}


